name: documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
        with: { submodules: recursive }
        
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Mambaforge
          miniforge-version: 23.3.1-0 
          python-version: "3.10" 
      
      - name: install dependencies
        shell: bash -l {0}
        run: |
          mamba env update --quiet -n test -f environment.yml
          mamba env update --quiet -n test -f doc/environment.yml
          conda list
          
      - name: install sage-euler-product
        shell: bash -l {0}
        run: |
          pip install  .        
          
      - name: install latex dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive texlive-latex-extra texlive-fonts-recommended latexmk

      - name: build PDF documentation
        shell: bash -l {0}
        run: |
          sphinx-build -b latex doc build/latex
          make -C build/latex all-pdf
        
      - name: copy PDF to HTML output
        run: |
          cp build/latex/*.pdf html/sage-euler-product/ || true
          
      - name: build html documentation
        shell: bash -l {0}
        run: |
          sphinx-build -b html -n doc html/sage-euler-product --color -a -E -W
          touch html/sage-euler-product/.nojekyll
          
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          folder: html/sage-euler-product

          
